.py-5.bg-white
  .py-5
    .container
      .text-center
        h2.display-4.mb-0 Our Work
        each project in projects
          .my-5.py-5
            .my-2.font-weight-light.text-muted= project.title
            h3.font-weight-medium= project.lead
            p.lead= project.description
            .row.my-5
              each image in project.photos
                - const filename = `${image._key}.jpg`
                .col-sm-6.col-lg-4.mb-4
                  a(href=`/projects/full/${filename}`)
                    img.img-fluid.shadow.border(
                      src=`/projects/thumb/${filename}`
                      alt=project.title
                    )
